<div class="row text-center" *ngIf="!isLoaded">
  <div class="indeterminate"></div>
</div>
<div *ngIf="isLoaded">
  <div class="row grey lighten-5 card">
    <div class="col s12 offset-s10">
      <button
        class="waves-effect btn-large"
        (click)="onAdd()"
        [disabled]="!addBook"
      >
        <i class="material-icons">add</i>
      </button>
    </div>
  </div>
  <div *ngFor="let book of books, let ind = index">
    <div class="row grey lighten-5 card">

      <app-books
        (bookDel)="bookDel($event)"
        (bookChange)="bookChange($event)"
        (bookEdit)="bookEdit($event)"
        [book]="book"
        [books]="books"
      >
      </app-books>

    </div>
  </div>
</div>
<div class="divider"></div>
<ul class="pagination center" *ngIf="this.totalPages.length > 1">
  <li [class]="disabledPage(0)">
    <a (click)="showPage(this.currentPage-1)"><i class="material-icons">chevron_left</i></a>
  </li>
  <li *ngFor="let page of this.totalPages; let i = index" [class]="activePage(i+1)">
    <a (click)="showPage(i+1)">{{i+1}}</a>
  </li>
  <li [class]="disabledPage(this.totalPages.length-1)">
    <a (click)="showPage(this.currentPage+1)"><i class="material-icons">chevron_right</i></a>
  </li>
</ul>

